<!-- src/main/resources/templates/bugs.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bug List</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>All Reported Bugs</h1>

<nav>
  <a th:href="@{/}">Home</a> |
  <a th:href="@{/bugs/new}">Report a Bug</a>
</nav>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Date Created</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="bug : ${bugs}">
    <td th:text="${bug.id}"></td>
    <td th:text="${bug.title}"></td>
    <td th:text="${bug.status}"></td>
    <td th:text="${bug.priority}"></td>
    <td th:text="${bug.dateCreated}"></td>
    <td>
      <a th:href="@{|/bugs/view/${bug.id}|}">View</a> |
      <a th:href="@{|/bugs/edit/${bug.id}|}">Edit</a> |
      <a th:href="@{|/bugs/delete/${bug.id}|}" onclick="return confirm('Are you sure?')">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
